//IMPORT COLORES//

$colorgradiente: linear-gradient(140deg, rgba(0, 0, 0, 1) 75%, rgb(85, 1, 1) 83%, rgb(87, 5, 46) 100%);
$colorsombra: -1px -1px 1px rgb(64, 5, 5),
2px 2px 2px rgb(213, 11, 11),
-1px 1px 1px rgb(64, 5, 5),
3px -3px 3px rgb(213, 11, 11);
$colorh1: rgb(199, 74, 46);
$colorh3: rgb(234, 178, 129);
$colorh5: rgb(234, 175, 102);
$colorwd: whitesmoke;
$colorwd2: wheat;
$colorbckg: rgb(85, 1, 1);
$colorfondo: rgb(0, 0, 0);
$colorfondoform: rgba(9, 9, 9, 0.414);
$color-rs: rgba(255, 255, 255, 0.363);
$color-tr: rgb(172, 5, 5);